@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes bounce-in {
    0% {
      transform: translate(-50%, 20px);
      opacity: 0;
    }
    50% {
      transform: translate(-50%, -5px);
    }
    100% {
      transform: translate(-50%, 0);
      opacity: 1;
    }
  }

  .animate-bounce-in {
    animation: bounce-in 0.5s ease-out;
  }
}
